.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a; /* dark blue */
  font-family: Arial, sans-serif;
}

.auth-box {
  background: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.auth-box button:hover {
  background: #1d4ed8;
}

.auth-box p {
  margin-top: 12px;
  text-align: center;
}

.auth-box a {
  color: #2563eb;
  text-decoration: none;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
